# macOS
.DS_Store

# Xcode / Swift
.build/
.swiftpm/
xcuserdata/
DerivedData/
build/
*.xcworkspace

# CocoaPods
Pods/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/

# React Native / Node
node_modules/

# IDE
.idea/
.vscode/
